@font-face {
    font-family: "future-z";
    src: url("../fonts/future_z/Future\ Z.ttf");
}

@font-face {
    font-family: "the-futurist";
    src: url("../fonts/the_futurist/The\ Futurist-Hollow.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: max-content;
    display: grid;
    place-content: center;
    background-image: url("../img/gym-futurista.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

}

.title {
    letter-spacing: 5px;
    color: rgb(209, 201, 201);
    margin: 8px;
    text-align: center;
    font-family: "future-z";
    border: 8px ridge rgba(30, 192, 224, 0.596);
    padding: 0.1em;
    box-shadow: inset 0 0 19px rgba(95, 33, 164, 1);
    /* box-shadow: (172deg, rgba(213, 63, 199, 1) 0%, rgba(95, 33, 164, 1) 53%, rgba(30, 191, 224, 1) 100%); */
    text-shadow: 0 0 15px rgba(213, 63, 199, 1);
    border-radius: 0.3em;
}

.formulario {
    margin-left: 2.5em;
    width: max-content;
    text-align: center;
    color: whitesmoke;
    padding: 2vh;
    font-size: 1.1em;
    /* width: 25vw; */
}

.form, .form-2 {
    padding: 1vh;
}

.text-form2 {
    font-size: 14px;
    padding-bottom: 2vh;
}

.form-2 label p {
    padding: 0.5em;
}

.formulario-individual {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.sex {
    display: flex;
    justify-content: space-evenly;
}

.sex-p {
    text-align: center;
}

fieldset{
    margin: 1vh;
    background-color: rgba(11, 57, 97, 0.554);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.509);
    border-radius: 1em;
    border: 1px transparent;
    width: 22em;
}


.legend {
    color: snow;
    font-family: "the-futurist";
    font-size: 1.8em;
}

textarea {
    resize: vertical;
    height: 7em;
    width: 15em;
    color: white;
}


input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    color: white;
    background-color: rgba(11, 57, 97, 0.362);
    /* outline: none; */
    width: 18em;
    height: 2em;
}


input[type="checkbox"], input[type="radio"]{
    appearance: none;
    font-size: 1.2em;
}

input[type="radio"]:hover + label {
    cursor: pointer;
    font-size: 1.2em;
}

input[type="checkbox"]:hover + label{
    cursor: pointer;
    font-size: 1.2em;
}

input[type="checkbox"]:checked + label{
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(5, 160, 5);
}
input[type="radio"]:checked + label{
    font-size: 1.2em;
    text-decoration: underline;
    color: rgb(5, 160, 5);
}




input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    color: white;
    background-color: rgba(11, 57, 97, 0.826);
    outline: none;
}

.form1:focus-within, .form2:focus-within {
    background-color: rgba(11, 57, 97, 0.362);
    zoom: 110%;
}


.botones button {
    margin: 1em;
    padding: 8px;
    background-color: rgba(213, 63, 198, 0.487);
    text-decoration: none;
    color: rgb(214, 226, 222);
    border: 1px solid rgba(30, 192, 224, 0.596);
    border-radius: 8px;
}

.botones button:hover {
    background-color: rgba(30, 192, 224, 0.596);
    color: rgba(4, 32, 56, 0.968);
}

#change-style2 {
    color: transparent;
    background-color: transparent;
    background-image: url("../img/random2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid rgba(213, 63, 199, 1);
    border-radius: auto;
    height: 80%;
    width: 8%;
    padding: 1em;
}

.hundido {
    background-color: green;
}

.estilos-radio {
    color: whitesmoke;
}